.socialIcons{
    display: flex;
    justify-content: center; 
    align-content: center;
}
.socialIcons .bi{
    margin: 0 25px;
}

footer .logo {
margin: 0 50px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-link {
    color: wheat;
}